name: (Manual) Deploy

env:
  DOCKERHUB_ORG: mobilecoin
  REPO_NAME: reserve-auditor
  TARGET_CLUSTER: utility-r1-g-k8s
  CHART_REPO: ghcr.io/mobilecoinofficial/charts

on:
  workflow_dispatch: {}

jobs:
  prod-deploy:
    runs-on: mco-dev-small-x64
    strategy:
      matrix:
        target: [mainnet, testnet]
    steps:
    - name: Checkout
      uses: mobilecoinofficial/gh-actions/checkout@v0

    - name: Create ${{ matrix.target }} namespace
      uses: mobilecoinofficial/gha-k8s-toolbox@v1
      with:
        action: namespace-create
        namespace: ${{ matrix.target }}-reserve-auditor
        rancher_cluster: ${{ env.TARGET_CLUSTER }}
        rancher_url: ${{ secrets.RANCHER_C_URL }}
        rancher_token: ${{ secrets.RANCHER_C_TOKEN }}

    - name: Deploys ${{ matrix.target }} release
      uses: mobilecoinofficial/gha-k8s-toolbox@v1
      with:
        action: helm-deploy-oci
        namespace: ${{ matrix.target }}-reserve-auditor
        release_name: ${{ matrix.target }}net-${{ env.REPO_NAME }}
        chart_name: ${{ env.REPO_NAME }}
        chart_values: .internal-ci/charts/${{ matrix.target }}-values.yaml
        chart_set: |
          --set=mobilecoind.image.tag=${{ github.ref_name }}-${{ matrix.target }}
        chart_version: ${{ github.ref_name }}
        chart_repo: ${{ env.CHART_REPO }}
        chart_repo_username: ${{ github.actor }}
        chart_repo_password: ${{ github.token }}
        rancher_cluster: ${{ env.TARGET_CLUSTER }}
        rancher_url: ${{ secrets.RANCHER_C_URL }}
        rancher_token: ${{ secrets.RANCHER_C_TOKEN }}
